/* Global styles for the app */

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}
